* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: rgb(31, 31, 31);
  color: rgb(219, 219, 219);
  font-family: 'Poppins', sans-serif;
}

// -------- UTILITY CLASSES -------- //

.container { 
  min-width: 10%;
  margin: 0 2rem;
}

.l-heading {
  text-align: center;
  font-size: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-3 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  background: black;
  color: rgb(202, 202, 202);
  text-decoration: none;
  border: 1px rgb(190, 190, 190) solid;
}

// -------- NAVBAR -------- // 

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.8rem;
}

.full-nav {
  display: none;
}

.hamburger {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

img {
  padding-top: 1.5rem;
  img {
    width: 7rem;
  }
}

.ham-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(231, 231, 231, 0.75);
  .close {
    transform: rotate(45deg);
    font-size: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    color: black;
  }
  .ham-content {
    background: rgb(80, 80, 80);
    padding: 5rem 4rem;
    align-self: center;
    color: rgb(236, 236, 236);
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
    display: flex;
  }
}




// -------- SHOWCASE -------- //

#showcase {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(167, 167, 167, 0.3)), 
  url(images/small-background.jpg);
  height: 85vh;
  background-size: cover; 
  background-position: center;
  h1 {
    color: white;
  }
  img {
    width: 8rem;
  }
}

// -------- ACTION SECTION -------- //

#action {
  height: 15vh;
  display: flex;
  .btn {
    margin: 0 auto;
    align-self: center;
  }
}


// MEDIA QUERIES

// Large devices 
@media (min-width: 660px) { 

  .navbar {
    padding-top: 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .full-nav {
    display: flex;
    padding: 1rem;
    .active {
      background: rgb(235, 235, 235);
      color: black;
    }
    li {
      padding: 0.4rem 0.9rem;
      margin: 0.4rem 0;
      &:hover {
        background: rgb(235, 235, 235);
        color: black;
        cursor: pointer;
      }
      
    }
  }
 }

 @media (min-width: 880px) {
  #showcase {
    background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url(/images/medium-background.jpg);
    background-position: center;
    background-size: cover;
    h1 {
      font-size: 3rem;
    }
    img {
      width: 12rem;
    }
  }
 }


