@import "./mixins";
@import "./variables";

@import "./contact";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: rgb(31, 31, 31);
  color: rgb(219, 219, 219);
  font-family: 'Poppins', sans-serif;
}

// -------- NAVBAR -------- // 

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  &__list {
    display: none;
  }
  &__img {
    width: 8rem;
  }
}

.ham-nav {
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(231, 231, 231, 0.75);
  &__close {
    transform: rotate(45deg);
    font-size: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    color: black;
  }
  &__content {
    display: flex;
    background: rgb(80, 80, 80);
    padding: 5rem 4rem;
    align-self: center;
    color: rgb(236, 236, 236);
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

// -------- SHOWCASE -------- //

.showcase {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(167, 167, 167, 0.3)), 
  url(images/small-background.jpg);
  height: 85vh;
  background-size: cover; 
  background-position: center;
}

.hero {
  @include flexCol(column);
  height: 300px;
  &__header {
    text-align: center;
  }
}

// -------- ACTION SECTION -------- //

.action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: rgb(48, 48, 48);
  &__btn {
    background: white;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: black;
    &--primary {
      background: red;
      color: white;
    }
  }
}

// DISPLAY SECTION 

.display {
  &__content {
    @include flexCol(column);
    @include medium {
      flex-direction: row;
    }
  }
  &__card {
    padding: 1.5rem;
    text-align: center;
  }
  &__img {
    width: 100%;
  }
  &__heading {
    padding: 1rem 0;
    font-size: $medium-heading;
    &--main {
      font-size: $large-heading;
      text-align: center;
      padding-top: 2.5rem;
    }
  }
}





// .contact {
//   &__content {
//     @include flexCol(column);
//   }
//   &__card {
//     @include flexCol(column);
//     background: rgb(48, 48, 48);
//     height: 40vh;
//     text-align: center;
//   }
//   &__header {
//     padding: 1rem 0;
//     font-size: $large-heading;
//     text-align: center;
//   }
//   &__item {
//     padding: 0.6rem;
//   }
// }

// MEDIA QUERIES

// @import "./large";
// @import "./medium";

// @media (min-width: 600px) {
//   .navbar {
//     padding: 3rem;
//     &__list {
//       display: flex;
//       justify-content: space-between;
//     }
//     &__item {
//       padding-left: 1rem;
//     }
//     &__hamburger {
//       display: none;
//     }
//   }

//   .display {
//     &__content {
//       flex-direction: row;
//     }
//   }

//   .contact {
//     &__content {
//       flex-direction: row;
//     }
//     &__card {
//       width: 100%;
//     }
//   }
// }

// @media (min-width: 880px) {
//   .showcase {
//     background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url(/images/medium-background.jpg);
//     background-position: center;
//     background-size: cover;
//   }

//   .navbar {
//     &__img {
//       width: 8rem;
//     }
//     &__list {
//       font-size: 1rem;
//     }
//     &__item {
//       padding: 0.8rem 1.2rem;
//       &:hover {
//         background: white;
//         color: black;
//         border-radius: 5px;
//       }
//     }
//   }

//   .hero {
//     &__header {
//       font-size: 4rem;
//     }
//   }

//   .action {
//     justify-content: center;
//     &__btn {
//       margin: 0 3rem;
//     }
//   }
//  }


