* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #1f1f1f;
  color: #dbdbdb;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.navbar__list {
  display: none;
}

.navbar__img {
  width: 8rem;
}

.ham-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(231, 231, 231, 0.75);
}

.ham-nav__close {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 2rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  color: black;
}

.ham-nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #505050;
  padding: 5rem 4rem;
  -ms-flex-item-align: center;
      align-self: center;
  color: #ececec;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: center;
}

.showcase {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(167, 167, 167, 0.3))), url(images/small-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(167, 167, 167, 0.3)), url(images/small-background.jpg);
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.hero__header {
  text-align: center;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  background: #303030;
}

.action__btn {
  background: white;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: black;
}

.action__btn--primary {
  background: red;
  color: white;
}

.display__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .display__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.display__card {
  padding: 1.5rem;
  text-align: center;
}

.display__img {
  width: 100%;
}

.display__heading {
  padding: 1rem 0;
  font-size: 2rem;
}

.display__heading--main {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 2.5rem;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .contact__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #303030;
  height: 40vh;
  text-align: center;
}

@media (min-width: 600px) {
  .contact__card {
    width: 100%;
  }
}

.contact__header {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.contact__item {
  padding: 0.6rem;
}

@media (min-width: 880px) {
  .showcase {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.5))), url(/images/medium-background.jpg);
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url(/images/medium-background.jpg);
    background-position: center;
    background-size: cover;
  }
  .navbar__img {
    width: 8rem;
  }
  .navbar__list {
    font-size: 1rem;
  }
  .navbar__item {
    padding: 0.8rem 1.2rem;
  }
  .navbar__item:hover {
    background: white;
    color: black;
    border-radius: 5px;
  }
  .hero__header {
    font-size: 4rem;
  }
  .action {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action__btn {
    margin: 0 3rem;
  }
}

@media (min-width: 600px) {
  .navbar {
    padding: 3rem;
  }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__item {
    padding-left: 1rem;
  }
  .navbar__hamburger {
    display: none;
  }
  .display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */